@page
@model WebMegaDesk.Pages.IndexModel


@{
    ViewData["Title"] = "Index";
    //DeskQuote.CalculatePrice();//
}

<!--<h1 class="deskquotes-table__title">Browse Quotes</h1>-->
<a class="create-button" asp-page="Create">Create Your Desk</a>

<table class="table deskquotes-table">
    <thead class="deskquotes-table__head">
        <tr>
            <th class="deskquotes-table__th deskquotes-table__date">
                @Html.DisplayNameFor(model => model.DeskQuote[0].Date)
            </th>
            <th class="deskquotes-table__th">
                @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
            </th>
            <th class="deskquotes-table__th">
                @Html.DisplayNameFor(model => model.DeskQuote[0].Price)
            </th>
            <th class="deskquotes-table__th">
                @Html.DisplayNameFor(model => model.DeskQuote[0].Material)
            </th>
            <th class="deskquotes-table__th">
                @Html.DisplayNameFor(model => model.DeskQuote[0].DrawerCount)
            </th>
            <th class="deskquotes-table__th">
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th class="deskquotes-table__th">
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th class="deskquotes-table__th">
                @Html.DisplayNameFor(model => model.DeskQuote[0].RushDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="deskquotes-table__body">
@foreach (var item in Model.DeskQuote) {
        <tr class="deskquotes-table__tr">
            <td class="deskquotes-table__td deskquotes-table__date">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td class="deskquotes-table__td">
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td class="deskquotes-table__td">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="deskquotes-table__td">
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td class="deskquotes-table__td">
                @Html.DisplayFor(modelItem => item.DrawerCount)
            </td>
            <td class="deskquotes-table__td">
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td class="deskquotes-table__td">
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td class="deskquotes-table__td">
                @Html.DisplayFor(modelItem => item.RushDays)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
